.btn_left_footer {
	width: 40%;
	height: 100%;
	dock-align: left;
}

	.btn_left_footer TextView {
		width: 100%;
		height: 100%;
		margin-left: 0%;
		padding-top: 25%;
		text-align: center;
		color: #e6891b;
		font: 38% Arial;
	}

.btn_right_footer {
	width: 40%;
	height: 100%;
	dock-align: right;
}

	.btn_right_footer TextView {
		width: 100%;
		height: 100%;
		margin-left: 0%;
		padding-top: 25%;
		text-align: center;
		color: #e6891b;
		font: 38% Arial;
	}

.btn_bottom_footer {
	width: 100%;
	height: 100%;
	dock-align: bottom;
}

	.btn_bottom_footer TextView {
		width: 100%;
		height: 100%;
		margin-left: 0%;
		padding-top: 25%;
		text-align: center;
		color: #e6891b;
		font: 38% Arial;
	}
	
.grid vl hl {
	        width: 100%;
	        height: 100%;
	    }
	
	        .grid vl hl MemoEdit {
	            height: 60%;
	            width: 90%;
	            font: 30% Arial;
	        }
	
	        .grid vl hl EditText {
	            height: 60%;
	            width: 90%;
	            font: 30% Arial;
	            color: #2d89cf;
	        }

.parameter_grid TextView{
	width: 50%
	}
	
.value {
	margin-top: 10%;
	
}

.main_row {
    height: 40%;
    margin-top: 5%;
    white-space: normal;
    color: #e6891b;
}