.btn_left_footer {
	width: 40%;
	height: 100%;
	dock-align: left;
}

	.btn_left_footer TextView {
            width: 100%;
            height: 100%;
            margin-top: 0%;
            margin-left: 5%;
            padding-top: 25%;
            text-align: center;
            color: #e6891b;
            font: 38% Arial;
        }

.btn_right_footer
{
width: 40%;
height: 100%;
dock-align: right;
}
	
	.btn_right_footer TextView {
            width: 100%;
            height: 100%;
            margin-left: 0%;
            padding-top: 25%;
            text-align: center;
            color: #e6891b;
            font: 38% Arial;
        }

.red_swipe {
    height: 15.9sp;
    width: 27%;
    background-color: #f74747;
}

.swipe_layout {
    height: 15sp;
}

.red_swipe vl {
        height: 100%;
        width: 100%;
    }

        .red_swipe vl img {
            background-image: url(fair.png);
            height: 45%;
            margin-top: 20%;
            margin-left: 32.4%;
        }

        .red_swipe vl TextView {
            height: 15%;
            width: 100%;
            margin-top: 10%;
            text-align: center;
            color: #fff;
            font: 100% Arial;
        }

.grid {
	height: 15sp;
	padding-top: 7%;
}

.grid vl {
	margin-left: -3%;
	}

.main_row {
    width: 100%;
    height: 35%;
    white-space: normal;
    font: 70% Arial;
    margin-top: -10%;
    
}
.status_container {
	width: 100%;
	height: 40%;
	margin-top: 10%;		
}

.main_rowbold {
    width: 75%;
    height: 40%;
    white-space: normal;
    font: 60% Arial-BoldMT;
    margin-top: -5%;
   
}


.PhonePlace {
	height: 50%;
	width: 13%;
    margin-left: -12.5%;
    margin-top: 25%;
    background-image: url(phone.png);
}

.position_row {
    width: 100%;
    height: 40%;
    white-space: normal;
    font: 90% Arial;
    color: #8e8e93;
}

.main_contact_grid {
	padding-top: 10%;
	height: 15.9sp;
    width: 100%;
    background-color: #fff6e0;
}


.main_contact_container {
	height: 100%;
	width: 35%;
	padding-left: 10%;
	padding-top: 18%;
	background-color: #e6891b;
	border-radius: 5px;
}

.main_contactdoc_container {
	height: 100%;
	width: 22%;
	margin-left: 2%;
	padding-left: 15%;
	padding-top: 18%;
	background-color: #9a9a9a;
	border-radius: 5px;
}

.main_contactdoc_caption {
	width: 100%;
    height: 100%;
    white-space: nowrap;
    font: 80% Arial;
    color: #ffffff;
}

.main_contact_caption {
	width: 100%;
    height: 100%;
    white-space: normal;
    font: 80% Arial;
    color: #ffffff;
}

.position_and_maincontact{
	width: 100%;
	height: 25%;
	margin-top: -10%;
}

.position_and_maincontact_exp{
	width: 100%;
	height: 40%;
	margin-top: -10%;
}



