.parameter_grid TextView {
    color: #e6891b;
    width: 50%;
    height: 100%;
    dock-align: left;
    font: 36% arial;
    margin-left: 3.5%;
    padding-top: 30%;
}

.parameter_grid caption{
	color: #b96f18;	
}

