<?xml version="1.0" encoding="utf-8" ?>
<c:Screen xmlns:c="BitMobile.Controls" xmlns:s="BitMobile.ValueStack">

  <s:Push Id="latitude" Value="$Facade.GetLatitude()"></s:Push>
  <s:Push Id="longitude" Value="$Facade.GetLongitude()"></s:Push>

  <c:VerticalLayout>

    <c:DockLayout CssClass="top_navigator">
      <c:Button CssClass="btn_back" OnEvent="Back" OnClickAction="$Workflow.DoRollback()"/>
      <c:Button CssClass="btn_grey_forward" OnClickAction="$Facade.ShowDialog()" OnEvent="Forward"/>
      <c:TextView Text="#settings#" />
    </c:DockLayout>

    <c:ScrollView CssClass="grid">

      <c:HorizontalLayout>
        <c:VerticalLayout>
          <c:TextView Text="Latitude" CssClass="main_row"></c:TextView>
          <c:TextView Text="$latitude" CssClass="description_row"></c:TextView>
        </c:VerticalLayout>
      </c:HorizontalLayout>

      <c:HorizontalLayout>
        <c:VerticalLayout>
          <c:TextView Text="Longitude" CssClass="main_row"></c:TextView>
          <c:TextView Text="$longitude" CssClass="description_row"></c:TextView>
        </c:VerticalLayout>
      </c:HorizontalLayout>
      
    </c:ScrollView>
  </c:VerticalLayout>

</c:Screen>